
.form-nota{

    height: 100%;
    width: 70em;
   
}

.input-nota{
    height: 4em;
    width: 100em;
    text-align: left;
    display:flex;
    align-items: center;
    margin: 1em;
    text-align: left;
    justify-content: center;
    display:flex;
    border-color: rgba(41, 79, 249, 0.571);
    border-radius: 0.5em;

}

.button-nota{

    background-color: rgba(41, 79, 249, 0.571);
    margin: 1em;
    justify-content: flex-end;
    text-align: left;
}

.insertarNota{
    text-align: center;
}